
<div class="show-mobile">
  <div>
    <button >
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <div class="cart">
      <button (click)="openDialog(products)">
        <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
      </button>
      <span class="counter">1</span>
    </div>

  </div>
  <div class="side-menu" [class.active]="false">
    <button >Close</button>

  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
    </nav>
    <div class="info">
      <div class="account">
      </div>
      <div class="cart">
        <a (click)="openDialog(products)">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="counter">1</span>
      </div>
    </div>
  </div>
</div>

