.cart {
  position: absolute;
  top: 50px;
  background: white;
  box-shadow: 1px 1px 5px 0px rgba(59, 58, 58, 0.77);
  border-radius: 15px;
  --tw-space-x-reverse: 0;
  right: calc(0.5rem * var(--tw-space-x-reverse));
  width: 50%;
  padding: 8px;
  text-align: start;
  &__close {
    position: absolute;
    bottom: 3%;
    right: 3%;
    background: red;
    color: white;
    border-radius: 3px;
  }
  &__product {
    list-style: none;
    margin: 0;
    padding: 0;
    div {
      display: flex;
      flex-direction: row;
      margin-bottom: 50px;
    }
    &__remove {
      height: fit-content;
      font-size: 12px;
    }
    &__item {
      font-size: 14px;
      margin-right: 20px;
    }
  }
}
